<app-navmenu [usuario]="user" [estaLogueado]="isLogueado" ></app-navmenu>
<div class="wrapper">
  <div class="page-header">
    <div class="page-header-image"></div>
    <div class="squares square1"></div>
    <div class="squares square2"></div>
    <div class="squares square3"></div>
    <div class="squares square4"></div>
    <div class="squares square5"></div>
    <div class="squares square6"></div>
    <div class="squares square7"></div>
    <div class="container">
      <div class="content-center">
        <div class="row">
          <div class="col-12">
            <br>
            <br>
            <div class="card card-register">
              <h3 class="card-title">Paciente : </h3>
              <div class="card-body">
            <form [formGroup]="form" (keyup.enter)="Submit()">
                <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <select id="especialidad" formControlName="especialidad" (change)="especialidadChange(esp)" class="form-control" placeholder="seleccione">
                            <option selected value="">Seleccione Especialidad</option>
                            <option *ngFor="let esp of listaEspecialidad">{{esp.nombre}}</option>
                        </select>
                        <div *ngIf="submitted && f.especialidad.errors?.required" class="invalid-feedback">
                            <div *ngIf="f.especialidad.errors?.required">Seleccione Especialidad.</div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                    <select id="especialidad" formControlName="especialidad" (change)="profesionalChange(esp)" class="form-control" placeholder="seleccione">
                        <option selected value="">Seleccione Profesional</option>
                        <option *ngFor="let esp of listaEspecialidad">{{esp.nombre}}</option>
                    </select>
                    <div *ngIf="submitted && f.especialidad.errors?.required" class="invalid-feedback">
                        <div *ngIf="f.especialidad.errors?.required">Seleccione Especialidad.</div>
                    </div>
                </div>
                </div>              
            </div>                        
                <div class="row" *ngIf="onDias">
                <div class="col-10">
               <p class="text-success">Dias disponibles</p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th>Profesional</th>
                                <th>Especialidad</th>
                                <th>Dia</th>
                                <th>Disponible</th>
                                <th class="text-right">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">1</td>
                                <td>dr marcos</td>
                                <td>Clinica</td>
                                <td>10/10/2020</td>
                                <td>si</td>
                                <td class="td-actions text-right">
                                    <button type="button" rel="tooltip" class="btn btn-info btn-simple btn-icon btn-sm">
                                        <i class="tim-icons icon-single-02"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>                
        </div>
                </div>
            <div class="row" *ngIf="onTurnos">
                    <div class="col-10">
                    <p class="text-success">Horarios disponibles</p>
                        <app-listado-horarios (profesional)="profesional" [horarioSeleccion]=""></app-listado-horarios>
                </div>
                </div>
                <div class="row">
                    <small *ngIf="error" class="text-danger font-weight-bold"><i class="fa fa-times"></i> {{errorMessage}} </small>
                    <small *ngIf="success" class="text-success font-weight-bold"><i class="fas fa-check"></i> Especialidad registrada
                    correctamente. </small>
                </div>
                    <hr>
                    <div class="row">
                    <div class="col-6">
                        <button type="submit" class="btn btn-primary" (click)="Submit()">Registrar</button><br>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-secondary" (click)="cerrar()">Cancelar</button><br>
                    </div>
                    </div>
            </form>
        </div>
      </div>
    </div>
  </div>     
</div>
</div>
</div>
<app-footer></app-footer>
</div>
