<app-navmenu [usuario]="user" [estaLogueado]="isLogueado" ></app-navmenu>
<div class="wrapper">
  <div class="page-header">
    <div class="page-header-image"></div>
    <div class="squares square1"></div>
    <div class="squares square2"></div>
    <div class="squares square3"></div>
    <div class="squares square4"></div>
    <div class="squares square5"></div>
    <div class="squares square6"></div>
    <div class="squares square7"></div>
    <div class="container">
        <br>
      <div class="content">
        <div class="row">
          <div class="col-12">
            <br>
            <br>
            <div class="card card-register">
              <h3 class="card-title">Turnos para : {{pacienteStorage[0].nombre}}-{{pacienteStorage[0].apellido}}</h3>
              <div class="card-body">
            <form [formGroup]="form" (keyup.enter)="Submit()">
                <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <select id="especialidad" formControlName="especialidad"  (change)="especialidadChange($event)"  class="form-control" placeholder="seleccione">
                            <option selected value="">Seleccione Especialidad</option>
                            <option value="{{esp.idEspecialida}}" *ngFor="let esp of listaEspecialidadFiltrada" >{{esp.nombre}}</option>
                        </select>
                        <div *ngIf="submitted && f.especialidad.errors?.required" class="invalid-feedback">
                            <div *ngIf="f.especialidad.errors?.required">Seleccione Especialidad.</div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                    <select id="profesional" formControlName="profesional" (change)="profesionalChange($event)" class="form-control" placeholder="seleccione">
                        <option selected value="">Seleccione Profesional</option>
                        <option value="{{prof.idProfesional}}" *ngFor="let prof of listaEspecialidadAux">{{prof.nombreProfesional}}</option>
                    </select>
                    <div *ngIf="submitted && f.profesional.errors?.required" class="invalid-feedback">
                        <div *ngIf="f.profesional.errors?.required">Seleccione profesional.</div>
                    </div>
                </div>
                </div>              
            </div>                        
                <div class="row">
                <div class="col-6">
               <p class="text-success">Dias disponibles</p>
                <div class="form-group">
                    <select id="dia" formControlName="dia" (change)="diaChange($event)" class="form-control" placeholder="seleccione">
                        <option selected value="">Seleccione Dia</option>
                        <option value="{{dias.fecha}}" *ngFor="let dias of listadoTurnoDias">{{dias.dia}} : {{dias.fecha}}</option>
                    </select>
                    <div *ngIf="submitted && f.dia.errors?.required" class="invalid-feedback">
                        <div *ngIf="f.dia.errors?.required">Seleccione Dia.</div>
                    </div>
                </div>
            
                    </div>
                    <div class="col-6">
                    <p class="text-success">Horarios disponibles</p>
                    <div class="form-group">
                        <select id="hora" formControlName="hora" class="form-control" placeholder="seleccione">
                            <option selected value="">Seleccione hora</option>
                            <option value="{{hora}}" *ngFor="let hora of listadoHorarios">{{hora}}</option>
                        </select>
                        <div *ngIf="submitted && f.hora.errors?.required" class="invalid-feedback">
                            <div *ngIf="f.hora.errors?.required">Seleccione hora.</div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p class="text-success">Motivo de Atencion :</p>
                        <div class="form-group">
                            <textarea class="form-control" formControlName="motivo" rows="10" placeholder="Motivo de atencion?" required></textarea>
                        </div>
                    </div>    
                </div>
                <div class="row">
                    <small *ngIf="error" class="text-danger font-weight-bold"><i class="fa fa-times"></i> {{errorMessage}} </small>
                    <small *ngIf="success" class="text-success font-weight-bold"><i class="fas fa-check"></i> Especialidad registrada
                    correctamente. </small>
                </div>
                    <hr>
                    <div class="row">
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary" (click)="RegistrarTurno()">Registrar</button><br>
                    </div>
                    <div class="col-4">
                        <button type="submit" class="btn btn-secondary" (click)="cerrar()">Cancelar</button><br>
                    </div>
                    </div>
            </form>
        </div>
      </div>
    </div>
  </div>     
</div>
</div>
</div>
<app-footer></app-footer>
</div>
