<app-navmenu></app-navmenu>
<br>
<div class="wrapper">
    <div class="page-header">
      <div class="page-header-image"></div>
      <div class="squares square1"></div>
      <div class="squares square2"></div>
      <div class="squares square3"></div>
      <div class="squares square4"></div>
      <div class="squares square5"></div>
      <div class="squares square6"></div>
      <div class="squares square7"></div>
      <div class="container">
        <div class="content-center brand col-lg-10 col-md-6">
          <div class="card card-register">
            <div class="card-header">
              <img
                alt="Card image"
                class="card-img"
                src="assets/img/square1-red.png"
              />

              <h3 class="card-title">Ingreso</h3>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-4">
                  <button type="button" tooltip="Administrador" class="btn btn-primary btn-icon btn-round mr-1" (click)="CargarDefault('A')">
                    <i class="tim-icons icon-settings-gear-63"></i>
                    </button>
                </div>
                <div class="col-4">
                  <button type="button" tooltip="Paciente" class="btn btn-succes btn-icon btn-round mr-1" (click)="CargarDefault('P')">
                    <i class="tim-icons icon-single-02"></i>
                    </button>
                </div>
                <div class="col-4">
                  <button type="button" tooltip="Profesional" class="btn btn-danger btn-icon btn-round mr-1" (click)="CargarDefault('E')">
                    <i class="tim-icons icon-heart-2"></i>
                    </button>
                </div>
              </div>
              <form class="form" [formGroup]="form">
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <input type="text" id="email" formControlName="email" class="form-control" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors?.required }">               
                      <div *ngIf="submitted && f.email.errors?.required" class="invalid-feedback"
                        autocomplete="email">
                        <div *ngIf="f.email.errors?.required">Debe ingresar un email.</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <input type="text" id="password" formControlName="password" class="form-control" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors?.required }">               
                      <div *ngIf="submitted && f.password.errors?.required" class="invalid-feedback"
                        autocomplete="password">
                        <div *ngIf="f.password.errors?.required">Debe ingresar un password.</div>
                      </div>
                    </div>
                  </div>
              </div>
                <div class="row">
                  <div class="col-12">
                  <div class="form-group">
                    <ngx-recaptcha2 (resolved)="resolved($event)" #captchaElem [siteKey]="key" [size]="'normal'" [hl]="'es'" [theme]="'light'" [type]="'image'" formControlName="recaptcha">
                    </ngx-recaptcha2>  
                  </div>  
                  </div>
                </div>
                <div class="row">
                  <small *ngIf="error" class="text-danger font-weight-bold"><i class="fa fa-times"></i> {{errorMessage}} </small>
                  <small *ngIf="success" class="text-success font-weight-bold"><i class="fas fa-check"></i> Especialidad registrada
                  correctamente. </small>
              </div>
              </form>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-4">
                  <a class="btn btn-primary btn-round btn-lg" (click)="Ingresar()" >
                    Ingresar
                  </a>
                </div>
                <div class="col-4">
                  <a class="btn btn-succes btn-round btn-lg" [routerLink]="['/registro']">
                    Registrarse
                  </a>
                </div>
                <div class="col-4">
                  <a class="btn btn-danger btn-round btn-lg" [routerLink]="['/bienvenida']">
                    Cancelar
                  </a>
                </div>
              </div>
            </div>
          </div>
</div>
</div>
</div>
</div>
