<app-navmenu [usuario]="user" [estaLogueado]="isLogueado" ></app-navmenu>

<div class="wrapper">
  <div class="page-header header-filter">
    <div class="squares square1"></div>
    <div class="squares square2"></div>
    <div class="squares square3"></div>
    <div class="squares square4"></div>
    <div class="squares square5"></div>
    <div class="squares square6"></div>
    <div class="squares square7"></div>
    <div class="container">
      <div class="content-center">
        <h3>Profesionales :</h3>
            <app-listado-profesionales (showModalOuput)="showModalHome=$event" [listaProfesionales]="listaProfesionales"></app-listado-profesionales>
          </div>
        </div>
      </div>      
      <app-footer></app-footer>
     </div>
     <app-alta-profesionales #modalRegistro [showModalAlta]="showModalHome" (closeModal)="showModalHome = false" (registradoCorrectamente)="cargarLista()"></app-alta-profesionales>