<div class="container-fluid">
    <div class="row justify-content-center align-items-center"> 
      <div class="contenedor col-11 col-xl-11">
        <table class="table">
            <thead>
                <tr>
                    <td></td>
                    <td>Nombre</td>
                    <td>Apellido</td>
                    <td>Dni</td>
                    <td>Edad</td>
                    <td>Sexo</td>
                    <td>Nacionalidad</td>
                    <td>Plan Medico</td>
                    <td>Activo</td>
                    <th class="text-right">detalle</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let paciente of listaPacientes">
                    <td><img src="{{paciente.urlImagen}}" alt="" style="width: 100px;"></td>
                    <td>{{paciente.nombre}}</td>
                    <td>{{paciente.apellido}}</td>
                    <td>{{paciente.dni}}</td>
                    <td>{{paciente.edad}}</td>
                    <td>{{paciente.sexo}}</td>
                    <td>{{paciente.nacionalidad}}</td>
                    <td>{{paciente.planMedico}}</td>
                    <td>{{paciente.activo}}</td>
                    <td class="td-actions text-right">
                        <button type="button" rel="tooltip" class="btn btn-info btn-simple btn-icon btn-sm">
                            <i class="tim-icons icon-single-02"></i>
                        </button>
                    </td>
                </tr>                       
            </tbody>
        </table>
      </div>
    </div>
</div>