<app-navmenu [usuario]="user" [estaLogueado]="isLogueado" ></app-navmenu>

<div class="wrapper">
  <div class="page-header header-filter">
    <div class="squares square1"></div>
    <div class="squares square2"></div>
    <div class="squares square3"></div>
    <div class="squares square4"></div>
    <div class="squares square5"></div>
    <div class="squares square6"></div>
    <div class="squares square7"></div>
    <div class="container">
      <div class="content-center">
        <div class="row">
          <div class="col-6">
            <h1 class="h1-seo">Clinica Avellaneda</h1>
            <h3>
             Somos una clinica en la ciudad de avellaneda con mas de 30 años brindando servicios 
            </h3>
          </div>
          <div class="col-6">
            <img alt="Rounded image" src="assets/img/clinicaAvellaneda.jpg" class="img-fluid rounded shadow" style="width: 350px;">
          </div>
        </div>
     
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>

