<app-navmenu [usuario]="user" [estaLogueado]="isLogueado" ></app-navmenu>

<div class="wrapper">
  <div class="page-header header-filter">
    <div class="squares square1"></div>
    <div class="squares square2"></div>
    <div class="squares square3"></div>
    <div class="squares square4"></div>
    <div class="squares square5"></div>
    <div class="squares square6"></div>
    <div class="squares square7"></div>
    <div class="container">
      <div class="content-center">
        <h3>Mis turnos :</h3>
        <table class="table">
            <thead>
              <tr>
                <th class="text-center" colspan="8">
                  <app-csv class="float-right csv" [data]="data" [filename]="generarNombreCsv()" [options]="options"></app-csv>
                  <button  class="float-right  btn btn-outline-primary btn-sm  mx-auto mb-4" type="button" (click)="generarPDF()" ><i class="fas fa-file"></i>Generar PDF</button>
                </th>
              </tr>
                <tr>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Paciente</th>
                    <th>Especialidad</th>
                    <th>Estado</th>
                    <th class="text-right">Dejar Reseña</th>
                </tr>
            </thead>
            <tbody id="tablaPDF">
                <tr *ngFor="let turno of listaTurnosPaciente">
                    <th>{{turno.fecha}}</th>
                    <th>{{turno.hora}}</th>
                    <th>{{turno.paciente}}</th>
                    <th>{{turno.especialidad}}</th>
                    <th>{{turno.estado}}</th>
                    <td class="td-actions text-right">
                        <button type="button" rel="tooltip" tooltip="Observaciones"  data-target="#modalRes"
                        (click)="verObservacion(turno)" class="btn btn-info btn-simple btn-icon btn-sm">
                            <i class="tim-icons icon-alert-circle-exc"></i>
                        </button>
                        <button type="button" rel="tooltip" tooltip="Comentario Pacientes" 
                        (click)="verComentarios(turno)"
                        data-target="#modalObs" class="btn btn-success btn-simple btn-icon btn-sm">
                            <i class="tim-icons icon-shape-star"></i>
                        </button>
                        <button type="button" rel="tooltip" tooltip="Cancelar" (click)="cancelarTurno(turno)" class="btn btn-danger btn-simple btn-icon btn-sm">
                            <i class="tim-icons icon-simple-remove"></i>
                        </button>
                        <button type="button" rel="tooltip" tooltip="Rechazar" (click)="rechazarTurno(turno)" class="btn btn-danger btn-simple btn-icon btn-sm">
                          <i class="tim-icons icon-simple-delete"></i>
                      </button>
                    </td>
                </tr>       
            </tbody>
        </table>
      </div>
    </div>
  </div>      
  <app-footer></app-footer>
 </div>
 <!--modal observaciones-->
 <div
 aria-hidden="true"
 aria-labelledby="myModalLabel"
 bsModal
 class="modal fade"
 #modalObs="bs-modal"
 id="modalObs"
 role="dialog"
 tabindex="-1"
>
 <div class="modal-dialog">
   <div class="modal-content">
     <div class="modal-header justify-content-center">
       <button
         aria-hidden="true"
         class="close"
         data-dismiss="modal"
         type="button"
         (click)="modalObs.hide()"
       >
         <i class="tim-icons icon-simple-remove"> </i>
       </button>
       <h4 class="title title-up">Comentarios sobre el turno :</h4>
     </div>
     <div class="modal-body">
       <p>
         {{Observacion}}
       </p>
     </div>
     <div class="modal-footer">
       <button
         class="btn btn-danger"
         data-dismiss="modal"
         type="button"
         (click)="modalObs.hide()"
       >
         Cerrar
       </button>
     </div>
   </div>
 </div>
</div>

