<nav
  class="navbar navbar-expand-lg fixed-top navbar-transparent"
  color-on-scroll="100"
  id="navbar-top"
>
  <div class="container">
    <div *ngIf="estaLogueado" class="navbar-translate">
        <h5>Bienvenido : {{usuario.nombre}} </h5>
    </div>
    <div
      class="navbar-collapse justify-content-end collapse"
      [collapse]="isCollapsed"
      id="navigation"
    >  
      <ul class="navbar-nav">
        <li *appValidarRoles="['admin','profesional']" class="dropdown nav-item" dropdown>
            <a
              class="dropdown-toggle nav-link dropdown-toggle"
              data-toggle="dropdown"
              dropdownToggle
            >
              <i class="fa fa-cogs d-lg-none d-xl-none"> </i> Administracion
            </a>
            <div class="dropdown-menu dropdown-with-icons" *dropdownMenu>
              <a *appValidarRoles="['admin']" class="dropdown-item" [routerLink]="['/profesionales']">
                <i class="tim-icons icon-bullet-list-67"> </i> Profesionales
              </a>
              <a *appValidarRoles="['admin','profesional']" class="dropdown-item" [routerLink]="['/pacientes']">
                <i class="tim-icons icon-bullet-list-67"> </i> Pacientes
              </a>
              <a *appValidarRoles="['admin','profesional']" class="dropdown-item" [routerLink]="['/especialidades']">
                <i class="tim-icons icon-bullet-list-67"> </i> Especialidades
              </a>
              <a *appValidarRoles="['admin','profesional']" class="dropdown-item" [routerLink]="['/turnos']">
                <i class="tim-icons icon-pin"> </i> Turnos
              </a>
              <a *appValidarRoles="['admin']" class="dropdown-item" [routerLink]="['/usuarios']">
                <i class="tim-icons icon-pin"> </i> Usuarios
              </a>
              <a *appValidarRoles="['admin']" class="dropdown-item" [routerLink]="['/landing']">
                <i class="tim-icons icon-image-02"> </i> landing
              </a>
              <a *appValidarRoles="['admin']" class="dropdown-item" [routerLink]="['/profile']">
                <i class="tim-icons icon-single-02"> </i> profile
              </a>
              <a *appValidarRoles="['admin']" class="dropdown-item" [routerLink]="['/home']">
                <i class="tim-icons icon-single-02"> </i> Maqueta
              </a>
            </div>
          </li>

          <li *appValidarRoles="['paciente','admin','profesional']"  class="nav-item">
            <a
              class="nav-link btn btn-default d-none d-lg-block"
              [routerLink]="['/registroTurno']"
            >
              <i class="tim-icons icon-calendar-60"> </i> Turnos
            </a>
          </li>
          <li *appValidarRoles="['admin','profesional']" class="nav-item">
            <a
              class="nav-link btn btn-default d-none d-lg-block"
              [routerLink]="['/registro']"
            >
              <i class="tim-icons icon-badge"> </i> Registro Pacientes
            </a>
          </li>
        <!--redes sociales-->
        <li class="nav-item p-0">
          <a
            class="nav-link"
            href="https://twitter.com/codeutnfra?lang=es"
            placement="bottom"
            target="_blank"
            tooltip="Follow us on Twitter"
          >
            <i class="fab fa-twitter"> </i>
            <p class="d-lg-none d-xl-none">Twitter</p>
          </a>
        </li>
        <li class="nav-item p-0">
          <a
            class="nav-link"
            href="https://www.facebook.com/UTNAvellaneda/"
            placement="bottom"
            target="_blank"
            tooltip="Like us on Facebook"
          >
            <i class="fab fa-facebook-square"> </i>
            <p class="d-lg-none d-xl-none">Facebook</p>
          </a>
        </li>
        <li class="nav-item p-0">
          <a
            class="nav-link"
            href="https://www.instagram.com/codeutnfra/?hl=es-la"
            placement="bottom"
            target="_blank"
            tooltip="Follow us on Instagram"
          >
            <i class="fab fa-instagram"> </i>
            <p class="d-lg-none d-xl-none">Instagram</p>
          </a>
        </li>   
        <li *ngIf="estaLogueado" class="nav-item">
          <a
            class="nav-link btn btn-default d-none d-lg-block"
            (click)="desconectarse()"
          >
            <i class="tim-icons icon-button-power"> </i> Desconectarse
          </a>
        </li>     
      </ul>
    </div>
  </div>
</nav>
