<table class="table">
    <thead>
        <tr>
            <th class="text-center" colspan="8">
              <button class="float-right  btn btn-outline-danger btn-sm" type="button" (click)="showProfesionalAlta()"><i class="fas fa-user-plus"></i>Nuevo</button>
              <!--<app-csv class="float-right csv" [data]="data" [filename]="generarNombreCsv()" [options]="options"></app-csv>
              <button  class="float-right  btn btn-outline-primary btn-sm  mx-auto mb-4" type="button" (click)="generarPDF()" ><i class="fas fa-file"></i>Generar PDF</button>-->
            </th>
          </tr>
        <tr>
            <th class="text-center">#</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Sexo</th>
            <th>Dni</th>
            <th>Edad</th>
            <th>Horario</th>
            <th class="text-right">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let profesional of listaProfesionales">
            <td class="text-center">{{profesional.idProfesional}}</td>
            <td>{{profesional.nombre}}</td>
            <td>{{profesional.apellido}}</td>
            <td>{{profesional.sexo}}</td>
            <td>{{profesional.dni}}</td>
            <td>{{profesional.edad}}</td>
            <td>{{profesional.horario}}</td>
            <td class="td-actions text-right">
                <button type="button" rel="tooltip" tooltip="Editar" (click)="showProfesionalEdit(profesional)" class="btn btn-info btn-simple btn-icon btn-sm">
                    <i class="tim-icons icon-single-02"></i>
                </button>
                <button type="button" rel="tooltip" 
                (click)="showDetalle(profesional)" tooltip="Detalle" class="btn btn-success btn-simple btn-icon btn-sm">
                    <i class="tim-icons icon-settings-gear-63"></i>
                </button>
                <button type="button" rel="tooltip" tooltip="Eliminar"  class="btn btn-danger btn-simple btn-icon btn-sm">
                    <i class="tim-icons icon-simple-remove"></i>
                </button>
            </td>
        </tr>             
    </tbody>
</table>

